html {
    font-size: 10px;
    background: url('../images/wallpaper.jpg') no-repeat center center;
    background-size: cover;
    
}
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .keys {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .3rem solid black;
    margin: 1rem;
    font-size: 2rem;
    transition: all 100ms ease;
    width: 8rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    
  }
.foot {
    display: block;
    padding-bottom: .5rem;
    font-size: 0.75rem;
    letter-spacing: .1rem;
    color: yellow;
}
.pressed{
  transform: scale(1.1);
  border: .3rem solid #ffc600;
  box-shadow: 0 0 3rem #ffc600;
}

